:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --blue-esigelec: #213547;
  --red-esigelec: #C8102E;
  --red-btn-hover: #a60d26;
  --blue-ia: #2A81CB;
  --blue-ia-hover: #1f6ca8;
  --background-white: #FDF0D5;
  --gray-white-light: #cccccc;
  --gray-dark: #313030;
  --gray-light: #E6E7E8;
  --white: #FFFFFF;
  --black: #000000;
}
html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}
select:hover{
  cursor: pointer;
}
select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--white);
  color: var(--black);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23000'%3E%3Cpath d='M5.5 7.5l4.5 4.5 4.5-4.5' stroke='%23000' stroke-width='1.5' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 14px;
  padding-right: 30px;
}

h1{
  color: var(--blue-esigelec);
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 2px solid var(--red-esigelec);
  outline-offset: 2px;
}

.card {
  padding: 0.5em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
